*{
    margin: 0%;
}


body{
    margin: 0px 350px;
}

header{
    background-image: url(../img/pattern.png);
    background-color: rgb(14, 151, 231);
    background-size: 400px;
}

header>img{
    width: 130px;
    margin: 50px 0px 10px 20px;
}

h1{
    font-size: 50px;
    margin-top: 20px;
}

.text-info{
    color: gray;
    margin-bottom: 20px;
}

.text-info>span{
    color: rgb(13, 206, 206)
}

.article-text{
    margin: 25px 0px;
}
